body>header
  position: fixed
  top: 0
  left: 0
  right: 0
  height: 3rem
  line-height: 3rem
  color: white
  #logo
    float: left
    margin: 0 0.5em
    font-size: 1.5em
    a
      color: inherit
      text-decoration: none
  nav
    float: right
    a
      color: inherit
      text-decoration: none
      padding: 1em
      transition: background-color 0.5s
      &:hover
        background-color: #333

#splash
  border: solid 1px #000
